@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a1020;
  --foreground: #cfe2ff;
}

/* @media (prefers-color-scheme: light) {
  :root {
    --background: #ffffff;
    --foreground: #1d2e5c;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
